@font-face {
  font-family: 'Sk-Modernist';
  src: url('./Sk-Modernist-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sk-Modernist';
  src: url('./Sk-Modernist-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sk-Modernist Mono';
  src: url('./Sk-Modernist-Mono.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
